body {
    background-color: #f1f1f1;
}
ul {
    background-color: white;
}
a:hover {
    color: #0eada6;
  }
  a.imglink{
    background:#0eada6;
    display: inline-block;
  }
a.imglink:hover img{
    opacity: 0.5;
  }
a:link {
    color: black;
}
  h2 {
      color:
      #0eada6;
  }
  h1 {
      color: white;
      padding-right:500px;
      background-color: #0eada6;
  }
  footer {
    display: block;
    background-color:#0eada6;
    text-align: center;
    color:white;
  }