body {
    background-color: #f1f1f1;
}
ul {
    background-color: white;
}
a:hover {
    color: #038669;
  }
a:link {
    color: black;
}

  h2 {
      color: 
      #038669;
  }
  h1 {
      color: white;
      background-color:#038669;
  }
  footer {
    display: block;
    background-color:#038669;
    text-align: center;
    color:white;
  }